<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'js/alertify/css/themes/default.css' %}">
    <link rel="stylesheet" href="{% static 'js/alertify/css/alertify.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">

    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
</head>
<body>
    <header>
        <!-- Header content -->
    </header>
    <div class="main-container">
        <aside>
            {% include 'sidebar.html' %}
        </aside>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer>
        <!-- Footer content -->
    </footer>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/alertify/alertify.min.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        {% for flashmsg in messages %}
        alertify.set('notifier', 'position', 'top-right');
            {% if 'success' in flashmsg.tags %}
                alertify.success('{{flashmsg}}');
            
            {% elif 'error' in flashmsg.tags %}
                alertify.error('{{flashmsg}}');
            {% endif %}
        {% endfor %}
    </script>

</body>
</html>
